.div__footer {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgba(20, 16, 36);
}

#number__footer {
    position: absolute;
    right: 0;
    

    margin: 40px 40px 0 0;
}

.div__text__footer {
    position: absolute;
    width: 300px;
    height: 80px;

    margin-left: 80px;
}