section {
    place-items: center;
}

.div__section_first {
    position: relative;
    width: 1000px;
    height: 500px;
}

.div__text_robo {
    margin-top: 100px;
}

.number__and_text_section {
    width: 150px;
    height: 100px;

    float: left;
}

.div__num_text {
    margin-top: 100px;
}

.number__and_text_section {
    margin-right: 100px;
}

/* ======================================= */

.div__section_last {
    position: relative;
    width: 100%;
    height: 400px;

    background-color: rgba(249, 249, 249);

    place-items: center;
}




.divdiv_section {
    width: 60%;
}

.div__info {
    margin: 150px 60px 0 0;
    float: left;
}