.numbers {
    font-weight: 600;
    font-size: 40px;
    color: rgba(213, 32, 39);
    display: block;
    margin: 0;
}

.text_numbers {
    font-weight: 400;
    font-size: 16px;
    color: rgb(65, 62, 75);
}

.text__section_robo {
    font-weight: 400;
    font-size: 35px;
}

.h2__section {
    position: absolute;
    margin-top: 80px;

    font-weight: 600;
    font-size: 38px;
}

h5 {
    font-weight: 600;
    font-size: 25px;
    
    margin: 20px 0 20px 0;
}

.footer__text {
    color: white;
}

#footer__p {
    font-weight: 300;
    font-size: 10px;
}

#course__header {
    font-weight: 400;
    font-size: 30px;
}

#robo__h2_header {
    font-weight: 600;
    font-size: 60px;
}